@import url(https://fonts.googleapis.com/css?family=Flamenco);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://fonts.googleapis.com/css?family=Pompiere);
@font-face {
	font-family: 'LotteMartHappy';
	font-style: normal;
	font-weight: 400;
	src:
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff2')
		format('woff2'),
		url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartHappy/LotteMartHappyMedium.woff')
		format('woff');
}

/* 60% set*/
#indexDebateList, #wordCloud, .body60, .top-ctg, .itemContainer,
	#main_wrapper, .dabateListTop150, .chatList-wrapper {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}
/* common */
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
* {
	font-family: 'Nanum Gothic';
}
div {
	overflow: hidden;
	text-overflow: ellipsis;
}
body {
	line-height: 1.25;
	margin: 0;
	color: #212121;
}
/* bootstrap custom */
.nav-wrapper {
	min-height: 50px;
}
.navbar-default {
	background: white;
	margin: 0;
	border: 0;
	border-radius: 0;
}
.container-fluid {
	padding-right: 0;
	width: 60%;
	border-bottom: 1px solid #BDBDBD;
}
.affix {
	position: fixed;
}
.navbar-default .navbar-nav>li>a {
	font-size: 13px;
	color: #353535;
	text-decoration: none;
	display: inline-block;
	position: relative;
}
.navbar-default .navbar-nav>li>a:AFTER {
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	left: 0;
	bottom: 0;
	visibility: hidden;
	background-color: #eb5055;
	-webkit-transition: all .1s ease;
	transition: all 0.3s ease;
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
}

.navbar-default .navbar-nav>li>a:FOCUS {
	color: #353535;
}
.navbar-default .navbar-nav>li>a:HOVER:AFTER {
	visibility: visible;
	-webkit-transform: scaleX(1);
	-ms-transform: scaleX(1);
	transform: scaleX(1);
}

.navbar-default:HOVER .navbar-nav>li>a:HOVER {
	color: #ff415c;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}

.navbar-default:HOVER .navbar-brand:HOVER {
	color: #ff415c;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:FOCUS {
	font-family: 'LotteMartHappy';
	color: #212121;
	font-size: 18px;
}
.modal-body {
	text-align: right;
}
.form-control {
	display: inline-block;
	width: 200px;
}
.modal-header {
	border-radius: 4px 4px 0 0;
}
.modal-header .close {
	opacity: 1;
}
.form-group {
	margin-bottom: 7px;
}
.form-control {
	margin-bottom: 7px;
}
#joinIdCheck, #passwordCheck {
	font-size: 12px;
}
#memberInfo {
	padding: 7.5px 0 7.5px 0;
}
/* table */
.table {
	text-align: center;
}
.table>thead>tr>th {
	text-align: center;
}
.pagination {
	background: white;
	text-align: center;
	margin: 10px 0 0 0;
	overflow: hidden;
	position: relative;
	border: 1px solid #bdbdbd;
	border-radius: 15px 15px 15px 15px;
}
.pagination a {
	color: #4b4b4b;
	font-size: 14px;
	transition: all 100ms ease-in-out 0s;
	height: 30px;
	display: inline-block;
	text-align: center;
	min-width: 30px;
	line-height: 2;
	text-decoration: none;
	font-weight: bold;
}
.pagination a:hover, .pagination strong {
	background-color: #cccccc;
	color: #212121;
	font-size: 14px;
	transition: all 100ms ease-in-out 0s;
	height: 30px;
	display: inline-block;
	text-align: center;
	min-width: 30px;
	line-height: 2;
	text-decoration: none;
}
/* wordcloud */
#wordCloud {
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 12px;
	border-bottom: 1px solid #BDBDBD;
	height: 310px;
}
#wordCloudSpan {
	float: right;
	display: block;
	padding-bottom: 15px;
	color: white;
	text-shadow: 0 2px 0 rgba(black, 0.4);
}
.fa-asterisk {
	color: #ff415c;
}
#wordCloud text:hover {
	opacity: .7 !important;
	cursor: pointer;
}
.cont {
	line-height: 140%;
}
.fa-fire {
	color: #ff415c;
}
/* Page Header */
.page-header {
	margin-bottom: 0;
	margin-top: 5px;
}
.page-header h3 {
	color: #404954;
	font-weight: 600;
}
.page-header .lead {
	font-size: 1.5rem;
	font-weight: 200;
	display: inline-block;
	margin: 0;
	max-width: 85%;
	padding-bottom: 15px;
}
.page-header .view-all {
	display: inline-block;
	float: right;
	margin-top: 8px;
	text-transform: uppercase;
}

/* Listing Global Style */
.thumbnail {
	display: inline-block;
	width: 100%;
	margin-bottom: 0;
}

.thumbnail, .thumbnail .caption {
	padding: 0;
	border: 0;
}

/* Hide image, Use background thumbnail instead */
.thumbnail img {
	display: none;
	width: 100%;
	height: auto;
}

/* Background thumbnail */
.thumbnail .placeholder {
	display: inline-block;
	width: 100%;
	padding-bottom: 66.67%;
	background-attatchment: fixed !important;
	background-position: center center !important;
	background-size: cover !important;
}

@media only screen and (min-width: 768px) {
	.container {
		background: #fff;
		border-radius: 5px;
		width: 100%;
		box-shadow: 0 6px rgba(0, 0, 0, 0.15);
	}
}

/* Tablet Portrait */
@media only screen and (max-width: 767px) {
	.container {
		
	}
	body [class*="col"] {
		padding-left: 8px;
		padding-right: 8px;
	}
	.thumbnail .caption {
		height: 80px;
		margin-bottom: 15px;
		font-size: 0.88rem;
	}

	/* Post List style */
	.post-list .thumbnail {
		border-bottom: 1px solid #e1e1e1;
		padding-bottom: 25px;
	}
	/* Thumbnail style */
	.post-list .thumbnail .placeholder {
		float: left;
		width: 40%;
		padding-bottom: 26.67%;
		margin-right: 5%;
	}
	/* Caption box */
	.post-list .caption {
		float: none;
		width: auto;
	}
	.page-header .lead {
		font-size: 1.25rem;
		font-weight: 200;
		display: block;
		margin: 0;
		max-width: 100%;
		padding-bottom: 15px;
	}
	.page-header .view-all {
		float: none;
		margin: 0 0 20px;
	}
}

.caption-heading {
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	white-space: nowrap;
}

/* Mobile Landscape */
@media only screen and (max-width: 480px) {
	.caption .caption-heading {
		font-size: 0.84rem;
		line-height: normal;
		margin-top: 0;
	}
}

@media ( max-width : 667px) {
	.thumbnail .caption p {
		display: none;
	}
	.thumbnail .caption {
		height: 30px;
	}
	.col-xs-6:nth-child(3n+1) {
		clear: left;
	}
}

@media ( min-width : 768px) and (max-width: 991px) {
	.thumbnail .caption p {
		display: none;
	}
	.caption .caption-heading {
		font-size: 0.84rem;
	}
}

/* Bootstrap 5 columns */
.col-xs-5bx, .col-sm-5bx, .col-md-5bx, .col-lg-5bx {
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	position: relative;
}

@media ( max-width : 767px) {
	.col-xs-5bx {
		width: 20%;
		float: left;
	}
}

@media ( min-width : 768px) {
	.col-sm-5bx {
		width: 20%;
		float: left;
	}
}

@media ( min-width : 992px) {
	.col-md-5bx {
		width: 20%;
		float: left;
	}
}

@media ( min-width : 1200px) {
	.col-lg-5bx {
		width: 20%;
		float: left;
	}
}

/* Print */
@media print {
	.thumbnail img {
		display: block;
	}
	.thumbnail .placeholder {
		padding: 0;
	}
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
		.col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
		float: left;
	}
	.col-sm-12 {
		width: 100% !important;
	}
	.col-sm-11 {
		width: 91.66666667%;
	}
	.col-sm-10 {
		width: 83.33333333%;
	}
	.col-sm-9 {
		width: 75%;
	}
	.col-sm-8 {
		width: 66.66666667%;
	}
	.col-sm-7 {
		width: 58.33333333%;
	}
	.col-sm-6 {
		width: 50%;
	}
	.col-sm-5 {
		width: 41.66666667%;
	}
	.col-sm-4 {
		width: 33.33333333%;
	}
	.col-sm-3 {
		width: 25%;
	}
	.col-sm-2 {
		width: 16.66666667%;
	}
	.col-sm-1 {
		width: 8.33333333%;
	}
	.col-sm-pull-12 {
		right: 100%;
	}
	.col-sm-pull-11 {
		right: 91.66666667%;
	}
	.col-sm-pull-10 {
		right: 83.33333333%;
	}
	.col-sm-pull-9 {
		right: 75%;
	}
	.col-sm-pull-8 {
		right: 66.66666667%;
	}
	.col-sm-pull-7 {
		right: 58.33333333%;
	}
	.col-sm-pull-6 {
		right: 50%;
	}
	.col-sm-pull-5 {
		right: 41.66666667%;
	}
	.col-sm-pull-4 {
		right: 33.33333333%;
	}
	.col-sm-pull-3 {
		right: 25%;
	}
	.col-sm-pull-2 {
		right: 16.66666667%;
	}
	.col-sm-pull-1 {
		right: 8.33333333%;
	}
	.col-sm-pull-0 {
		right: auto;
	}
	.col-sm-push-12 {
		left: 100%;
	}
	.col-sm-push-11 {
		left: 91.66666667%;
	}
	.col-sm-push-10 {
		left: 83.33333333%;
	}
	.col-sm-push-9 {
		left: 75%;
	}
	.col-sm-push-8 {
		left: 66.66666667%;
	}
	.col-sm-push-7 {
		left: 58.33333333%;
	}
	.col-sm-push-6 {
		left: 50%;
	}
	.col-sm-push-5 {
		left: 41.66666667%;
	}
	.col-sm-push-4 {
		left: 33.33333333%;
	}
	.col-sm-push-3 {
		left: 25%;
	}
	.col-sm-push-2 {
		left: 16.66666667%;
	}
	.col-sm-push-1 {
		left: 8.33333333%;
	}
	.col-sm-push-0 {
		left: auto;
	}
	.col-sm-offset-12 {
		margin-left: 100%;
	}
	.col-sm-offset-11 {
		margin-left: 91.66666667%;
	}
	.col-sm-offset-10 {
		margin-left: 83.33333333%;
	}
	.col-sm-offset-9 {
		margin-left: 75%;
	}
	.col-sm-offset-8 {
		margin-left: 66.66666667%;
	}
	.col-sm-offset-7 {
		margin-left: 58.33333333%;
	}
	.col-sm-offset-6 {
		margin-left: 50%;
	}
	.col-sm-offset-5 {
		margin-left: 41.66666667%;
	}
	.col-sm-offset-4 {
		margin-left: 33.33333333%;
	}
	.col-sm-offset-3 {
		margin-left: 25%;
	}
	.col-sm-offset-2 {
		margin-left: 16.66666667%;
	}
	.col-sm-offset-1 {
		margin-left: 8.33333333%;
	}
	.col-sm-offset-0 {
		margin-left: 0%;
	}
	.visible-xs {
		display: none !important;
	}
	.hidden-xs {
		display: block !important;
	}
	table.hidden-xs {
		display: table;
	}
	tr.hidden-xs {
		display: table-row !important;
	}
	th.hidden-xs, td.hidden-xs {
		display: table-cell !important;
	}
	.hidden-xs.hidden-print {
		display: none !important;
	}
	.hidden-sm {
		display: none !important;
	}
	.visible-sm {
		display: block !important;
	}
	table.visible-sm {
		display: table;
	}
	tr.visible-sm {
		display: table-row !important;
	}
	th.visible-sm, td.visible-sm {
		display: table-cell !important;
	}
}

.fa-asterisk {
	-webkit-animation-name: pulse2;
	animation-name: pulse2;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}

@
-webkit-keyframes pulse2 { 0% {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

50%
{
-webkit-transform
:
 
scale
(0
.8
);

            
transform
:
 
scale
(0
.8
);
 
}
100%
{
-webkit-transform
:
 
scale
(1);

            
transform
:
 
scale
(1);
 
}
}
@
keyframes pulse2 { 0% {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

50%
{
-webkit-transform
:
 
scale
(0
.8
);

            
transform
:
 
scale
(0
.8
);
 
}
100%
{
-webkit-transform
:
 
scale
(1);

            
transform
:
 
scale
(1);
 
}
}



#agr {
	color: #335d30;
}

#dagr {
	color: #A82400;
}



#agr span, #dagr span {
	font-family: 'LotteMartHappy';
}

/* 비밀번호 부엉이 */
.owl {
	margin: auto;
	width: 211px;
	height: 108px;
	background-image: url("https://dash.readme.io/img/owl-login.png");
	position: relative;
	border-bottom: 1px solid #DBDBDB;
}

.owl .hand {
	width: 34px;
	height: 34px;
	border-radius: 40px;
	background-color: #472d20;
	transform: scaleY(0.6);
	position: absolute;
	left: 14px;
	bottom: -8px;
	transition: 0.3s ease-out;
}

.owl .hand.password {
	transform: translateX(42px) translateY(-15px) scale(0.7);
}

.owl .hand.hand-r {
	left: 170px;
}

.owl .hand.hand-r.password {
	transform: translateX(-42px) translateY(-15px) scale(0.7);
}

.owl .arms {
	position: absolute;
	top: 58px;
	height: 41px;
	width: 100%;
	overflow: hidden;
}

.owl .arms .arm {
	width: 40px;
	height: 65px;
	background-image: url("https://dash.readme.io/img/owl-login-arm.png");
	position: absolute;
	left: 20px;
	top: 40px;
	transition: 0.3s ease-out;
}

.owl .arms .arm.password {
	transform: translateX(40px) translateY(-40px);
}

.owl .arms .arm.arm-r {
	left: 158px;
	transform: scaleX(-1);
}

.owl .arms .arm.arm-r.password {
	transform: translateX(-40px) translateY(-40px) scaleX(-1);
}

.dabateListTop150 {
	margin-top: 15px;
	height: 100px;
	padding: 35px 35px 0 35px;
	text-align: center;
}






#myDebate_innerDiv1 {
	background: rgb(16, 31, 46);
}

#myDebate_innerDiv2 {
	background: rgb(21, 38, 56);
}

#myDebate_innerDiv3 {
	background: rgb(23, 44, 66);
}

.top-favorite-inner, .top-favorite-inner:HOVER, .top-favorite-inner:FOCUS
	{
	display: inline-block;
	text-align: center;
	height: 25px;
	width: 25px;
	line-height: 25px;
	color: white;
	border-radius: 5px;
}

.top-favorite {
	display: inline;
	float: right;
	padding-left: 15px;
	line-height: 50px;
}
 .memberTable {
	border-top: 1px solid #BDBDBD;
	width: 100%;
	border-bottom: 1px solid #BDBDBD;
}

 .memberTable tbody tr {
	text-align: center;
	height: 30px;
	border-bottom: 1px solid #DBDBDB;
	background: white;
}
.submit {
	text-align: right;
	padding-top: 30px;
}

.ql-size {
	background: transparent;
}

.member-head {
	width: 30%;
	font-weight: bold;
	border-right: 1px solid #bdbdbd;
	border-left: 1px solid #bdbdbd;
}

.memberWrapper {
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 30px;
}


/* Mixings &  Variables */
.clearfix, .clearfix:before, .clearfix:after {
	display: block;
	content: " ";
	clear: both;
	zoom: 1;
}
#results {
	padding-top: 15px;
	padding-bottom: 15px;
}

/* preview for chat */
.box {
	display: block;
	z-index: 0;
	width: 100%;
}
#chatListPage {
	margin-top: 100px;
}
.round {
	background-color: #5ba6e7;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}



.article {
	color: white;
	position: absolute;
}

#naverNews {
	text-shadow: 0 2px 0 rgba(black, 0.4);
}

.index-title {
	font-size: 14px;
	padding: 0;
	margin: 0;
	font-weight: bold;
}

.index-left {
	width: 49%;
	float: left;
}

.index-right {
	width: 50%;
	float: right;
	padding-bottom: 7px;
}

.results-area2 {
	margin-top: 10px;
	background: url("../images/radial-gradient.png");
	background-repeat: repeat;
	border-radius: 5px;
}

.carousel-h1 {
	margin-bottom: 50%;
}

.dabateListTop150 {
	background: url("../images/banner.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
}

.index-thumb-div {
	display: inline;
	padding: 3px;
	cursor: pointer;
}

/* 메모 시작 */
:focus {
	outline: 0;
}

.add-sticky {
	cursor: default;
	position: absolute;
	top: 1px;
	left: 1px;
	font-size: 200%;
	background: #000;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	text-align: center;
	line-height: 25px;
	width: 30px;
	height: 30px;
}

.add-sticky:hover {
	background: #474747;
}

.sticky {
	width: 15%;
	background: #fdfdbe;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
	-webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
	-moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
}

.sticky-content {
	min-height: 150px;
	border-left: 3px double rgba(238, 150, 122, .75);
	margin-left: 30px;
	padding: 5px;
}

.sticky-header {
	padding: 5px;
	background: #f3f3f3;
	border-bottom: 2px solid #fefefe;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
}

.sticky-status {
	color: #ccc;
	padding: 5px;
}

.close-sticky {
	background: #474747;
	float: right;
	cursor: default;
	color: #ececec;
	padding: 1px 5px;
	margin-right: 5px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
}
/* 메모 끝 */

/* 아이프레임 */
iframe {
	border: 0;
}
.detail-thumb-div {
	padding: 3px;
	display: inline;
	cursor: pointer;
}
/* 페북댓글 */
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style]
	{
	min-width: 100% !important;
	width: 100% !important;
}
.memberWrapper h3 {
	font-family: 'LotteMartHappy';
	display: inline;
}
.btn {
	float: right;
}
.member-title-wrapper {
	margin-bottom: 10px;
}
.favorite-table-tr {
	height: 30px;
	border-bottom: 1px solid #bdbdbd;
}
.favorite-table {
	margin: 10px;
	width: 100%;
}
.favorite-table-td-0, .favorite-table-td-1, .favorite-table-td-2 {
	padding: 5px;
}
.favorite-table-td-2 {
	text-align: center;
}
.member-memo {
	width: 45%;
	float: right;
}
.member-memo-contents {
	border: 1px solid black;
	min-height: 250px;
	background: #fdfdbe;
	padding: 15px;
	margin: 10px;
}
.member-favorite {
	width: 45%;
	float: left;
	min-height: 150px;
}
.openNote {
	height: 50px;
}

/* modal */
#joinModal>div {
	min-width: 350px;
}

/* modal */
#updateModal>div {
	min-width: 350px;
}


#joinSubmit {
	background: #28A55F;
	color: white;
	width: 300px;
	margin: auto;
	position: relative;
	float: none;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 10px;
}
.joinForm-div {
	min-width: 310px;
}

.joinInput {
	background: #EAEAEA;
}

.joinSelect {
	background: #EAEAEA;
	width: auto;
	padding: 0;
}

#loginSubmit {
	width: 260px;
	background: #28A55F;
	color: white;
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 10px;
}
.joinForm-div {
	margin-bottom: 10px;
}
#joinForm>div:nth-child(8)>span>input {
	display: inline;
}
.joinRadio {
	width: auto;
	height: auto;
}
/* 메인 트위터, 인스타 */
.social-left {
	width: 47%;
	float: left;
	margin: 20px 0 20px 0;
}
.social-right {
	width: 50%;
	float: right;
	margin: 20px 0 20px 0;
}
#twitter {
	height: 300px;
	overflow: auto;
	margin: 10px 0 10px 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.twitter_wrapper {
	font-size: 12px;
	padding: 10px 10px 10px 10px;
	border-bottom: 1px solid #bdbdbd;
}

.twitter_wrapper:HOVER {
	background: #FAF4C0;
}

.tweet-image {
	float: left;
	display: inline;
	width: auto;
	border-radius: 50%;
}

.insta-image {
	float: left;
	display: inline;
	width: auto;
}

.tweet-in-right {
	float: right;
	display: inline;
	width: 85%;
}

.insta-in-right {
	float: right;
	display: inline;
	width: 60%;
}

.tweet-name {
	font-weight: bold;
	padding-bottom: 5px;
}

.tweet-time {
	color: #8C8C8C;
	text-align: right;
}

.tweet-msg>a {
	color: black;
}

.insta-time {
	color: #8C8C8C;
	text-align: right;
}

#instagram {
	height: 300px;
	overflow: auto;
	margin: 10px 0 10px 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

/* 유튜브 관련 */
.youtube-container {
	min-height: 270px;
}

#youtube {
	margin: 10px 0 10px 0;
	padding-top: 10px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	min-height: 201px;
	overflow-y: auto;
}

.youtubeList {
	width: 20%;
	vertical-align: top;
}

.youtubeThumb {
	width: 100%;
}

.field-container {
	position: relative;
	width: 100%;
	display: block;
}

.button-container {
	min-height: 34px;
}

/*jQuery UI autocomplete for bootstrap*/
.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	float: left;
	display: none;
	min-width: 160px;
	_width: 160px;
	padding: 4px 0;
	margin: 343px 0 0 0;
	list-style: none;
	background-color: #ffffff;
	border-color: #ccc;
	border-color: rgba(0, 0, 0, 0.2);
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	*border-right-width: 2px;
	*border-bottom-width: 2px;
}

.ui-autocomplete .ui-menu-item>a.ui-corner-all {
	display: block;
	padding: 3px 15px;
	top: 342px;
	clear: both;
	font-weight: normal;
	line-height: 18px;
	color: #555555;
	white-space: nowrap;
}

.ui-autocomplete .ui-menu-item>a.ui-corner-all.ui-state-hover,
	.ui-autocomplete .ui-menu-item>a.ui-corner-all.ui-state-active,
	.ui-autocomplete .ui-menu-item>a.ui-corner-all.ui-state-focus {
	color: #ffffff;
	text-decoration: none;
	background-color: #0088cc;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	background-image: none;
}

.U-title {
	font-size: 14px;
	padding-top: 5px;
}

.U-desc {
	padding: 5px;
	font-size: 12px;
}

.carousel-h1 {
	background: rgba(0, 0, 0, 0.5);
	padding: 5px;
	border-radius: 15px;
}
.toolbar {
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	overflow: visible;
	background: #E7E7E7;
}

.g-recaptcha {
	margin-left: 12px;
}